<ion-content style="height: 96%;">
  <!--<ion-card>
    <ion-textarea>Mensaje: {{message}}</ion-textarea>
  </ion-card>-->
  <ion-accordion-group #gAccordion>
    <ion-accordion value="first">
      <ion-item slot="header" color="primary">
        <ion-label>General Information</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" id="PrintInvoice">
        <ion-card>
          <ion-card-header color="primary">Manual de Procedimientos Internos de Capacitación y Adiestramento
            Pilotos</ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Formato de habilitacion en Ruta y Seguimiento (IOE)-portada-</ion-label>
            </ion-item>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>Fecha: 20-Sep-22</div>
                </ion-col>
                <ion-col>
                  <div>Capítulo 7</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>Revisión 00 </div>
                </ion-col>
                <ion-col>
                  <div>Página: 126</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>
                    Concesionaria Vuela Compañía de Avición, S.A.P.I de C.V.
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>


    <ion-accordion value="third">
      <ion-item slot="header" color="primary">
        <ion-label>Evaluation information</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-header color="primary">Formato de habilitacion en Ruta y Seguimiento (IOE)-portada-
          </ion-card-header>
          <ion-card-content>

            <ion-grid>

              <ion-row>
                <ion-col size="12">
                  <div>
                    <ion-label position="stacked">Trainee's name:</ion-label>
                  </div>
                  <span class="">
                                        <input type="text" placeholder="Nombre del evaluado" disabled="" class="borde"
                                               [value]="trainee.fullName" />
                                    </span>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <div>
                    <ion-label position="stacked">No. Lic:</ion-label>
                  </div>
                  <span class="">
                                        <input type="number" placeholder="Número de licencia" class="borde" disabled
                                               [value]="trainee.licenseN" />
                                    </span>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                                    <span>
                                        Evaluated Position
                                    </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeLg="2" sizeMd="3">
                  <ion-radio-group [(ngModel)]="this.format712.evaluatedPosition">
                    <ion-row>
                      <ion-col size="6">
                        <div class="my-checkbox" style="align-items: center;">
                          <ion-label style="margin:0 .2em 0 -.2em ;">PIC</ion-label>
                          <ion-radio value="PIC" mode="md"></ion-radio>
                        </div>

                      </ion-col>
                      <ion-col size="6">
                        <div float-left class="my-checkbox">
                          <ion-label style="margin:0 .2em 0 -.2em">F/O</ion-label>
                          <ion-radio value="FO" mode="md"></ion-radio>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-radio-group>
                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card>
    <ion-card-header color="secondary">Maniobra / PROCEDIMIENTO</ion-card-header>
    <ion-card-content>
      <!--<ion-card *ngFor="let c of this.cards">
        <ion-card-header color="tertiary">{{c}}</ion-card-header>
        <ion-card-content>
          <ion-list *ngFor="let l of this.formatEvaluationsDate[c], let i = index">-->
            <!-- Inicio ion-popovers|modal -->
            <!-- <ion-modal [trigger]="l.label" class="model-calendar" [keepContentsMounted]="true" *ngIf="l.label=='Flight Preparation'">
            <ion-modal [trigger]="Item['label']" class="model-calendar" [keepContentsMounted]="true">
                <ng-template>
                    <ion-datetime [id]="Item['label']+'c'" [name]="Item['label']+'c'" presentation="date" class="calendar" [showDefaultButtons]="true" [value]="dateValue" [(ngModel)]="Item['value']" (ionChange)="showdate2(l)" (ionFocus)="lastdate(l)"></ion-datetime>
                </ng-template>
            </ion-modal> -->
            <!-- Fin popovers -->
            <!--<ion-item>
              <ion-label>{{l['label']}}</ion-label>
              <ion-item lines="none">
                <ion-icon slot="start" name="calendar-outline" color="primary" [id]="l['label']"
                          (click)="mostrarCalendar(l,i)"></ion-icon>
                <ion-text slot="end" id="tx">
                  {{l['value'] | date : "dd-MMM-yyyy"}}
                </ion-text>
              </ion-item>
              <ion-button size="large" [color]="l['status']" (click)="confirmDate(l,i)"
                          [disabled]="l['status'] === 'success'">
                Confirm DATE
              </ion-button>
            </ion-item>-->
         <!-- </ion-list>
        </ion-card-content>
      </ion-card>-->
    </ion-card-content>
  </ion-card>



  <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="float-btn">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!--<ion-fab-button color="danger" (click)="this.delete()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onSave712()" color="tertiary">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="onShareFile()">
        <ion-icon name="share-outline"></ion-icon>
      </ion-fab-button>-->
      <ion-fab-button color="success" (click)="createPDF()">
        <ion-icon name="share-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-button (click)="mostrarModal()">Paint</ion-button>


</ion-content>
