<ion-header>
  <ion-toolbar>
    <ion-title>Signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" class="ion-padding">
  <ion-row>
    <ion-col *ngFor="let color of colors" [style.background]="color" class="color-block" tappable
             (click)="selectColor(color)"></ion-col>
  </ion-row>
  <ion-radio-group [(ngModel)]="selectedColor">
    <ion-row>
      <ion-col *ngFor="let color of colors" class="ion-text-center">
        <ion-radio [value]="color"></ion-radio>
      </ion-col>
    </ion-row>
  </ion-radio-group>

  <ion-range min="2" max="20" color="primary" [(ngModel)]="lineWidth">
    <ion-icon size="small" slot="start" name="brush"></ion-icon>
    <ion-icon slot="end" name="brush"></ion-icon>
  </ion-range>

  <canvas #imageCanvas (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)"
          (touchmove)="moved($event)" (mousemove)="moved($event)" (mouseup)="endDrawing()" (touchend)="endDrawing()"></canvas>

  <ion-button expand="full" (click)="setBackground()">
    <ion-icon slot="start" name="image"></ion-icon>
    Set Background Image
  </ion-button>

  <ion-button expand="full" (click)="exportCanvasImage()">
    <ion-icon slot="start" name="download"></ion-icon>
    Export Canvas Image
  </ion-button>
  <ion-button expand="full" (click)="clearCanvas()">
    <ion-icon slot="start" name="clear"></ion-icon>
    Clear canvas
  </ion-button>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-button  expand="block"  shape="round">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Save
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="exit()" expand="block"  shape="round">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          Exit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

